*{
    margin: 0;
}

@media screen and (max-width:757px){
    .startsida{
        display: grid;
        grid-template-areas: 
        'he'
        't0'
        'p0'
        't1'
        'p1'
        't2'
        'p2'
        ;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 30vh 60vh 40vh 50vh 40vh 50vh;
        height: 280vh;
        width: 100vw;
    }
}

@media screen and (min-width:900px){
    .startsida{
        display:grid;
        grid-template-areas:
        'he he'
        'p0 p0'
        't0 t0'
        't1 p1'
        't2 p2'
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 90vh 40vh 90vh 90vh;
    }
}

.header{
    grid-area: he;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: blue;
    width: 100vw;
    height: 10vh
}

.txt0{
    grid-area: t0;
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}

.txt1{
    grid-area: t1;
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}

.txt2{
    grid-area: t2;
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}

.bild0{
    grid-area: p0;
    background-color: crimson;
}

.bild1{
    grid-area: p1;
    background-color: crimson;
}

.bild2{
    grid-area: p2;
    background-color: crimson;
}

.nav{
    height: 100vh;
    width: 80vw;
    background: skyblue;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}